# Node.js
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# Directoare pentru fișiere temporare
uploads/
cropped/
temp/
downloads/

# Fișiere de mediu
.env

# Editoare
.vscode/
.idea/

# Fișiere de sistem
.DS_Store
Thumbs.db 